<input type="text" name="title" placeholder="title">
<select>
    <option value="Author">Author</option>
    <option value="Deena">Deena</option>
    <option value="Jennifer">Jennifer</option>
    <option value="Rachel">Rachel</option>
</select>

<textarea rows="20" name="content" placeholder="content"></textarea>
<input type="submit" class="btn submit">
