<section class="form-section">
    <header>
        <h1>CREATE</h1>
    </header>
    <form method="post" action="/create" class="post-form">
        <input type="text" name="title" placeholder="title">
        <select name="author">
            <option value="Author">Author</option>
            <option value="deena">Deena</option>
            <option value="jennifer">Jennifer</option>
            <option value="rachel">Rachel</option>
        </select>
        <div class="editable"></div>
        <textarea name="content" class="hidden"></textarea>
        <input class="btn submit">
    </form>
</section>
