<section class="delete-post">
    <header>
        <h1>DELETE</h1>
    </header>
    <form method="post" action="/delete/<%= @post.id %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Yes, Delete It!">
        <a href="/<%= @post.id %>">Cancel</a>
    </form>
</section>