<section class="index">
    <% if @current_user %>
    <a href="/create">create</a>
    <a href="/edit">edit</a>
    <a href="/delete">delete</a>
    <% end %>
    <a href="/login">login</a>
    <a href="/logout">logout</a>
</section>

</section class="authors">
    <a class="deena" href="/deena">deena</a>
    <a class="jennifer" href="/jennifer">jennifer</a>
    <a class="rachel" href="/rachel">rachel</a>
</section>

<section class="container">
</section>
