<section class="index">
    <% if @current_user %>
    <a class="create" href="/create">create</a>
    <a class="edit" href="/edit">edit</a>
    <a class="delete" href="/delete">delete</a>
    <% end %>
    <a class="login" href="/login">login</a>
    <a class="logout" href="/logout">logout</a>
</section>

<section class="authors">
    <a class="deena" href="/deena">deena</a>
    <a class="jennifer" href="/jennifer">jennifer</a>
    <a class="rachel" href="/rachel">rachel</a>
</section>

<section class="container">
</section>
