<!DOCTYPE html>
<head>
  <title>NPO</title>
  <script src="/js/jquery-1.10.2.min.js"></script>
  <script src="/js/mustache.js"></script>
  <script src="/js/app.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/app.css" />
</head>

<body>
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
