<!DOCTYPE html>
<head>
  <title>NPO</title>
  <script src="/js/jquery-1.10.2.min.js"></script>
  <script src="/js/mustache.js"></script>
  <script src="/js/app.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/app.css" />
</head>

<body>
  <div id="content">
    <%= yield %>
  </div>
</body>
<section id="templates">
    <script type="text/html" id="post-template">
        {{ #data }}
        <section class="post">
            <header>
                <h1 class="post-title">{{ title }}</h1>
            </header>

            <div class="body">
            {{ content }}
            </div>
        </section>
        {{ /data }}
    </script>
</section>
</html>
