/* ALL */
* {
    font-family: arial;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #2980b9;
}

a:hover {
    text-decoration: underline;
    color: #2980b9;
}

a:visited {
    color: #2980b9;
}

li {
    list-style: none;
}

input {
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

.hidden {
    display: none !important;
}

/* LAYOUT */
#container {
    margin: auto;
    width: 50%;
    min-width: 400px;
}

.interface {
    position: relative;
}

.index {
    display: inline-block;
    background-color:  #ccc;
    width: 100%;
    text-align: center;
}

.authors {
    text-align: center;
    background-color: #ccc;
}

.content {
    width: 100%;
    background: #fff;
}

.editable {
    width: 100%;
    height: 350px;
    text-align: left;
}

/* POSTING */
.form-section {
    text-align: center;
    margin: auto;
    padding: 10px;
    border: 1px solid black;
}

.post-form textarea, input, select {
    margin: auto;
    display: block;
    width: 100%;
}

.post header {
    text-align: center;
    width: inherit;
    background-color: #333;
    color: #fff;
}

.post .body {
    width: inherit;
}

/* BUTTONS */
.submit {
    height: 50px;
    background-color: #3699db;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
}

.submit:hover {
    cursor: pointer;
    background-color: #2980b9;
}

/* NAV */
.nav {
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    z-index: 1;
}
