<section class="create">
    <header>
        <h1>CREATE</h1>
    </header>
    <form method="post" action="/create">
        <input type="text" name="title" placeholder="title">
        <input type="text" name="author" placeholder="author">
        <input type="text" name="content" placeholder="content">
        <input type="submit" class="btn submit">
    </form>
</section>