<section class="list">
    <ul>
    <% @posts.each do |post| %>
    <li><a href="edit/<%= post.id %>"><%= post.title %></a></li>
    <% end %>
    </ul>
</section>

<!--
abstract to partial 
<label>Title</label>
<input type="text" name="title" class="post-info"/>
<label>Author</label>
<input type="text" name="author" class="post-info">
<label>Content</label>
<textarea name="content" class="post-content"></textarea>
<input type="submit" class="btn submit">
 -->