<section class="home">
    <div class="venn">
        <p>About</p>
    </div>
    <div class="venn">
        <p>Jenn</p>
    </div>
    <div class="venn">
        <p>Deena</p>
    </div>
    <div class="venn">
        <p>Rachel</p>
    </div>
    <div class="venn">
        <p>Contact</p>
    </div>
</section>